$chart-height:300px;
$number-height: 15px;
$chart-background:rgba(white,.6);
$progress-bar-height:4px;
$progress-bar-dot-height:8px;

.graphic-wrapper{
	max-width:650px;
	margin:0 auto;
}


.broken-model{
	position:relative;
	&__chart {
		background:$chart-background;
		height:$chart-height;
		
	}
}

.text{
	position: absolute;
	top:0;
	right:0;
	max-width: 280px;
	padding:20px 0 20px 20px;
	opacity:0;
	transition: opacity 200ms ease;
	background:$chart-background;

	// &--visible{
	// 	display: block;
	// }

	&__blurb {
		@include sans-serif();
		margin:0;
		padding:0;
	}
	
  &__label{
    @include agate();
    font-style:italic;
  }


	&__number{
		display:none;
	}
}

.example{
	transition: opacity 200ms ease;
	opacity:0;

	&--visible{
		transition: opacity 200ms ease;
		opacity:1;	
	}
}


// This sets each text blob to appear when a certain body[data-attribute] is present
@for $i from 1 to 100{
	body[data-slide='#{$i}'] #text#{$i}{
		opacity: 1;
	}
}

.ratio-1axis-label{
	@include agate();
	font-weight:bold;
}

.data-buttons{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin: 0 0 15px 0;
	
	.data-button{
		// @include sans-serif();
		// font-weight: bold;
		width:23%;
		// margin-bottom:2%;
		display:block;
		background:$trib-gray4;
		border:none;
		border-radius:none;
		cursor:pointer;
		color:black;
		transition: background 400ms ease;
		font-size: 16px;
		&:hover{
			background: $trib-blue2;
			color:white;
			transition: background 400ms ease; 
		}
	}
}

.progress-bar{
	width:100%;
	height:$progress-bar-height;
	position:relative;
	background:#eaeaea;
	margin: 0 0 15px 0;

	&__dot{
		position:absolute;
		top:0;
		left:0;
		height:$progress-bar-dot-height;
		width: $progress-bar-dot-height;
		border-radius:50%;
		background:$trib-blue2;
		transition:left 400ms ease;
		margin: #{($progress-bar-dot-height - $progress-bar-height) / -2} 0 0 #{$progress-bar-dot-height / -2}
	}



	&__bar{
		position:absolute;
		top:0;
		left:0;
		height:100%;
		background:$trib-blue2;
		transition:width 400ms ease;
	}

}

.regression-line{
	opacity:0;
	transition: opacity 400ms ease; 
	
	&--visible{
		opacity:1;
		transition: opacity 400ms ease; 		
	}

}

// picking and choosing when some lines are shown
body[data-slide='5'] .regression-line--0 { opacity:1; }
// body[data-slide='6'] .regression-line--0 { opacity:1; }
body[data-slide='7'] .regression-line--1 { opacity:1; }

@media all and (max-width: $tablet-max-width){
	.text{
		max-width: 180px;
		padding:20px 0 20px 20px;
	}
}


@media all and (max-width: $mobile-max-width){
	.text{
		max-width: 160px;
		padding: 10px 0 10px 10px;
	}
}