<!DOCTYPE html>
<html>
<head>
    <title></title>
{#     {% include '_pymscript.html' %} #}
    <link rel="stylesheet" href="//{{ ROOT_URL }}/css/styles.css">
    <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
    <script>
    	window.ROOT_URL = "{{ ROOT_URL }}";
        window.totalSlides = {{ slidetext|get_length }};
    </script>
</head>
<body data-slide=1>
<div class="graphic-wrapper">
	<h1 class='chart_hed'>XXXXXXXX</h1>
    <div class='data-buttons'>
    	<button class='data-button' data-direction='back'>&lt;</button>
        <button class='data-button' data-direction='forward'>&gt;</button>
        <button class='data-button' data-direction='play'>O</button>
        <button class='data-button' data-direction='restart'>X</button>
    </div>
    <div class='progress-bar'>
        <div class='progress-bar__bar'></div>
    </div>
    <div class='broken-model'>
        <div id='broken-model' class='broken-model'></div>
        {% for text in slidetext|sort(attribute="slidenum") if text.publish == 1 %}
            <div id='text{{ text.slidenum }}' class='text {% if loop.first %}text--visible {% endif %}'>
                <span class='text__number'>{{ text.slidenum }}</span>
                {{ text.text|markdown }}
            </div>
        {% endfor %}
        
	</div>
	<a>TODO: Add methods link</a>
</div>
	<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
</body>
</html>