<!DOCTYPE html>
<html>
<head>
    <title></title>
{#     {% include '_pymscript.html' %} #}
    <link rel="stylesheet" href="https://use.fontawesome.com/6745e48e70.css">
    <link rel="stylesheet" href="//{{ ROOT_URL }}/css/styles.css">
    <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
    <script>
    	window.ROOT_URL = "{{ ROOT_URL }}";
        window.xAxisLabel = "{{ x_axis_label }}";
        window.yAxisLabel = "{{ y_axis_label }}";
        window.totalSlides = {{ slidetext|get_length }};
    </script>
</head>
<body data-slide=1 data-playing=false>
<div class="graphic-wrapper">
	<h1 class='chart_hed'>{{ headline }}</h1>
    <div class='chatter'>
        {{ chatter|markdown }}
    </div>
    <div class='data-buttons'>
    	<button class='data-button' data-direction='back'>
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Back
        </button>
        <button class='data-button' data-direction='restart'>
            <i class="fa fa-refresh" aria-hidden="true"></i>
            Reset
        </button>
        <button class='data-button' data-direction='forward'>
            Next
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
{#         <button class='data-button' data-direction='play'>
            <i class="fa fa-play-circle play-icon" aria-hidden="true"></i>
            <i class="fa fa-stop-circle stop-icon" aria-hidden="true"></i>
            <span class='play-text'>Play</span>
            <span class='stop-text'>Stop</span>
        </button> #}
    </div>
    <div class='progress-bar'>
        <div class='progress-bar__bar'></div>
        <p id='slides-label' class='progress-bar__text'></p>
{#         <div class='progress-bar__dot progress-bar__dot--static'></div>
        <div class='progress-bar__dot progress-bar__dot--pulse'></div> #}
    </div>
    <div class='broken-model'>
        <div id='broken-model' class='broken-model__chart'></div>
        {% for text in slidetext|sort(attribute="slidenum") if text.publish == 1 %}
            <div id='text{{ text.slidenum }}' class='text {% if loop.first %}text--visible {% endif %}'>
                <p class='text__blurb'>{{ text.text|process_text() }}</p>
                {% if text.label %}
                    <p class='text__label'>{{ text.label }}</p>
                {% endif %}
            </div>
        {% endfor %}
        
	</div>
	<p class='chart_source'>{{scatter_source|process_text()}}</p>
</div>
 <script type="text/javascript" src="http://www.chicagotribune.com/hive/javascripts/metrics/s_code_trb.js"></script>
  {% omnitag request, OMNITURE, None, title, 'dataproject' %}

<script type="text/javascript">
    ((((window.trb || (window.trb = {})).data || (trb.data = {})).metrics || (trb.data.metrics = {})).thirdparty = {
            pageName: 'ct:apps:news:cook-county-property-taxes:articleproject.',
            channel: 'news',
            server: 'apps.chicagotribune.com',
            hier1: 'chicagotribune:news',
            hier2: 'news',
            prop1: 'D=pageName',
            prop2: 'news',
            prop38: 'articleproject',
            prop57: 'D=c38',
            prop59: '',
            eVar20: 'chicagotribune',
            eVar21: 'D=c38',
            eVar34: 'D=ch',
            eVar35: 'D=pageName',
            events:''
    });  
</script>
	<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
</body>
</html>